.Login {
    width: 100vw;
    height: 100vh;
    display: grid;
}
.Login__container {
    width: 70vh;
    height: 50vh;
    margin: auto;
    padding: 10px;
    border-radius: 5vh;
    background-color: wheat;
    display: grid;
    grid-template-columns: auto auto;
}
.Login__item {
    margin: auto;
}
.Login__details {
    background-color: antiquewhite;
    padding: 5vh;
    border-radius: 5vh;
}
.Login__welcome {
    text-align: center;
}
.Login__form {
    display: grid;
    grid-template-columns: auto auto;
}
.Login__form__item {
    margin: 5px;
}
.Login__form__loginButton, .Login__form__forgotButton, .Login__form__registerButton {
    grid-column: 1/3;
    border-radius: 5px;
    padding: 5px
}
.Login__form__loginButton {
    background-color: #eace73;
    border: none;
}
.Login__form__forgotButton {
    background-color: #c3ac62;
    border: none;
}
.Login__form__registerButton {
    background-color: #c35562;
    border: none;
}
.Login__Guest-Or-User {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.Login__Guest-Or-User p {
    grid-column: 1/3;
}
.Login__Button.--Guest {
    background-color: #eeddcc;
}
.Login__Button.--User {
    background-color: #aa9977;
}
.Login__Button.--Back {
    background-color: #99ccff;
}
.Login__Button {
    border-radius: 5px;
    padding: 5px;
    border: none;
}

.Login__details--Animate {
    animation: 0.5s linear Login__details--expand;
}
@keyframes Login__details--expand{
    from {
        padding: 1vh;
    }
    to {
        padding: 5vh;
    }
}
@keyframes Login__details--expand--2{
    from {
        padding: 1vh;
    }
    to {
        padding: 5vh;
    }
}

.GuestLoginPage--Animate {
    animation: 0.5s linear Login__details--expand--2;
}
.UserLoginPage--Animate {
    animation: 0.5s linear Login__details--expand--2;
}